@import url("main.css");

div.content {clear: both; float: left; width: 65%;}

section.home {margin-bottom: 10px;}
section.home p {text-align: justify;}

section.photos {height: 560px;}

#slider {height: 510px; margin: 0 auto; position: relative; overflow: hidden; width: 500px;}
#sliderContent {height: 100%; margin: 0; padding: 0; width: 100%;}
.sliderImage {background: #000; display: none; height: 100%; line-height: 0; position: relative; width: 100%;}
.sliderImage .wrap-to-center {
    display: table-cell;
    height: 500px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 500px;
}
.sliderImage .wrap-to-center * {vertical-align: middle;}
.sliderImage img {padding: 0; margin: 0;}
.sliderImage span {
    background-color: #000;
    bottom: 0;
    color: #fff;
    display: none;
    font: 10px/15px Arial, Helvetica, sans-serif;
    left: 0;
    position: absolute;
    padding: 10px 13px;
    width: 474px;

    filter: alpha(opacity=70);
    opacity: 0.7;
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
}
.sliderImage span.top {top: 0; left: 0; height: 40px;}
.sliderImage span.bottom {bottom: 0; left: 0;}
.sliderImage span.left {top: 0; left: 0; width: 110px !important; height: 100%;}
.sliderImage span.right {right: 0; bottom: 0; width: 90px !important; height: 100%;}

.sliderImage span strong {font-size: 14px;}

aside.home {float: left; width: 30%;}
aside.home section {
    border: 1px solid #CCC;
    margin-bottom: 10px;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
}
aside.home section h3 {
    background-color: #EFEFEF;
    border-bottom: 1px solid #CCC;
    padding: 7px;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

/* News */
section.news ul {margin-left: 10px;}
section.news ul li.widget-item {list-style: none;}
section.news ul li.widget-item p {
    background: #EFEFEF;
    background-image: -moz-linear-gradient(top,#FFF,#EFEFEF);
    background-image: -webkit-gradient(linear, 0 0, 0% 100%, from(#FFF), to(#EFEFEF));
    border: 1px solid #EFEFEF;
    /*border-bottom-color: #fff;
    border-right-color: #fff;*/
    color: #555;
    
    line-height: 23px;
    /*margin: 15px 2px 0 auto !important;*/
    margin: 15px 0 0 44px;
    padding: 10px;
    text-shadow: 0 1px 0 #fff;
    width: 210px;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 0 #ddd;
    -moz-box-shadow: 2px 2px 0 #ddd;
    -webkit-box-shadow: 2px 2px 0 #ddd;
}
section.news ul li.widget-item img {float: left;}

/* Events */
section.events #events {margin: 0;}

/* Address */
section.address p {margin: 10px 0 5px 20px;}
section.address a:hover, section.address a:active {
    background-color: transparent;
    text-decoration: none;
    text-shadow: none;
}
section.address img {display: block; margin: 0 auto;}
section.address img:hover {border: 3px solid #C74350;}

/* Useful links */
section.useful-links .link {clear: both; margin: 0 5px;}
section.useful-links .link img {float: left;}
section.useful-links .link p {padding: 20px 0 0 70px;}

/* Schedule */
section.schedule h4 {margin-left: 9px;}
section.schedule table {margin-left: 20px;}

/* Pricing */
section.pricing table td.age {color: #C74350; padding: 0 1px;}
section.pricing table td.age:hover {cursor: pointer;}
section.pricing table td {text-align: center;}
section.pricing table td span {display: none;}



