{% extends 'portal/base.html' %}
{% load i18n %}
{% load tags %}

{% block title %}
    {% trans "Shotokan Karate Club - Sophia Antipolis" %} | {% trans "Club" %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/home.css" type="text/css" />
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        /*$('.age').qtip({
            content: $(this).find('span').text(),
            position: {
              corner: {
                 target: 'topRight',
                 tooltip: 'bottomLeft'
              }
           },
            style: 'cream' // Give it some style
        });*/
        
        $('.age').each(function(item) {
            $(this).qtip({
                content: $(this).find('span').text(),
                position: {
                    corner: {
                        target: 'topRight',
                        tooltip: 'bottomLeft'
                    }
                },
                show: {
                    delay: 0
                },
                style: 'cream' // Give it some style
            });
        });
    });
</script>
{% endblock %}

{% block content %}
    <div class="body">
        <div class="content">
            <section class="home important">
                <h2>{% trans "Organisation" %}</h2>
                
                <h3>{% trans "Professeurs" %}</h3>
                
                {% for professor in professors %}
                    <div class="member clearfix">
                        {% if professor.avatar %}
                            <img src="{{ professor.avatar.url|thumbnail:'150x210' }}" />
                        {% else %}
                            <img src="{% thumbnail 'photos/members/default.png' 150 210 %}" />
                        {% endif %}
                        <h4>{{ professor.full_name }}</h4>
                        <h5>{{ professor.dan }}
                            {% if professor.dan > 1 %} {% trans "ème" %}
                            {% else %} {% trans "ère" %} {% endif %}
                            Dan
                        </h5>
                        <p class="desc">{{ professor.description }}</p>
                    </div>
                {% endfor %}
                
                <h3>{% trans "Bureau" %}</h3>
                <div class="member clearfix">
                    {% if president.avatar %}
                        <img src="{{ president.avatar.url|thumbnail:'150x210' }}" />
                    {% else %}
                        <img src="{% thumbnail 'photos/members/default.png' 150 210 %}" />
                    {% endif %}
                    <h4>{{ president.full_name }}</h4>
                    <h5>{{ president.dan }}
                        {% if president.dan > 1 %} {% trans "ème" %}
                        {% else %} {% trans "ère" %} {% endif %}
                        Dan
                    </h5>
                    <h5>{{ president.telephone }}</h5>
                    <p class="desc">{{ president.description }}</p>
                </div>
                <div class="member clearfix">
                    {% if accountant.avatar %}
                        <img src="{{ accountant.avatar.url|thumbnail:'150x210' }}" />
                    {% else %}
                        <img src="{% thumbnail 'photos/members/default.png' 150 210 %}" />
                    {% endif %}
                    <h4>{{ accountant.full_name }}</h4>
                    <h5>{{ accountant.dan }}
                        {% if accountant.dan > 1 %} {% trans "ème" %}
                        {% else %} {% trans "ère" %} {% endif %}
                        Dan
                    </h5>
                    <h5>{{ accountant.telephone }}</h5>
                    <p class="desc">{{ accountant.description }}</p>
                </div>
                <div class="member clearfix">
                    {% if secretary.avatar %}
                        <img src="{{ secretary.avatar.url|thumbnail:'150x210' }}" />
                    {% else %}
                        <img src="{% thumbnail 'photos/members/default.png' 150 210 %}" />
                    {% endif %}
                    <h4>{{ secretary.full_name }}</h4>
                    <h5>{{ secretary.dan }}
                        {% if secretary.dan > 1 %} {% trans "ème" %}
                        {% else %} {% trans "ère" %} {% endif %}
                        Dan
                    </h5>
                    <h5>{{ secretary.telephone }}</h5>
                    <p class="desc">{{ secretary.description }}</p>
                </div>
                <p>
                    {% trans "Un grand merci aux anciens présidents sans lesquels le club n'existerait pas : Michel Guillon, Willy Binst." %}
                </p>
            </section>
            <section class="home important">
                <h2>{% trans "Le coin des ceintures noires" %}</h2>
                
                <h3>{% trans "6ème Dan" %}</h3>
                <h3>{% trans "5ème Dan" %}</h3>
                <h3>{% trans "4ème Dan" %}</h3>
                <h3>{% trans "3ème Dan" %}</h3>
                <h3>{% trans "2ème Dan" %}</h3>
                <h3>{% trans "1ère Dan" %}</h3>
                
            </section>
        </div>
        <aside class="home">
            <section class="schedule">
                <h3>{% trans "Horaires" %}</h3>
                <h4>{% trans "Enfants" %}<em>{% trans "(nés entre 1994 et 2004)" %}</em></h4>
                <table>
                    <tbody>
                        <tr>
                            <td>{% trans "Lundi" %}</td>
                            <td>17h45</td>
                            <td>18h45</td>
                        </tr>
                        <tr>
                            <td>{% trans "Jeudi" %}</td>
                            <td>17h45</td>
                            <td>18h45</td>
                        </tr>
                    </tbody>
                </table>
                <h4>{% trans "Tous grades" %}</h4>
                <table>
                    <tbody>
                        <tr>
                            <td>{% trans "Lundi" %}</td>
                            <td>19h00</td>
                            <td>20h00</td>
                        </tr>
                        <tr>
                            <td>{% trans "Jeudi" %}</td>
                            <td>19h00</td>
                            <td>20h00</td>
                        </tr>
                    </tbody>
                </table>
                <h4>{% trans "Gradés" %}<em>{% trans "(bleues, marrons et noires)" %}</em></h4>
                <table>
                    <tbody>
                        <tr>
                            <td>{% trans "Lundi" %}</td>
                            <td>20h00</td>
                            <td>21h00</td>
                        </tr>
                        <tr>
                            <td>{% trans "Jeudi" %}</td>
                            <td>20h00</td>
                            <td>21h00</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="address">
                <h3>{% trans "Adresse" %}</h3>
                <p>Shotokan Karate Club</p>
                <p>230 route des Dolines, Sophia Antipolis</p>
                <p><em>{% trans "Juste après le garage Renault" %}</em></p>
                <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=230+route+des+Dolines+Sophia+Antipolis+France&sll=43.619044,7.035826&sspn=0.003118,0.003095&ie=UTF8&hq=&hnear=230+Route+des+Dolines,+06560+Valbonne,+Alpes-Maritimes,+Provence-Alpes-C%C3%B4te+d'Azur,+France&z=16" target="_blank">
                    <img src="http://maps.google.com/maps/api/staticmap?center=230%20route%20des%20dolines%20Sophia%20Antipolis,%20France&zoom=15&size=290x290&markers=color:red|230%20route%20des%20dolines%20Sophia%20Antipolis,%20France&sensor=false" alt="Address" />
                </a>
            </section>
            <section class="pricing">
                <h3>{% trans "Tarifs" %}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>{% trans "Catégories" %}</th>
                            <th>{% trans "License" %}</th>
                            <th>{% trans "Trimestre" %}</th>
                            <th>{% trans "Année" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="age">
                                {% trans "Poussins" %}
                                <span>{% trans "Nés entre 2001 et 2003" %}</span>
                            </td>
                            <td>63</td>
                            <td>75</td>
                            <td>225</td>
                        </tr>
                        <tr>
                            <td class="age">
                                {% trans "Pupilles" %}
                                <span>{% trans "Nés entre 1999 et 2000" %}</span>
                            </td>
                            <td>63</td>
                            <td>75</td>
                            <td>225</td>
                        </tr>
                        <tr>
                            <td class="age">
                                {% trans "Benjamins" %}
                                <span>{% trans "Nés entre 1997 et 1998" %}</span>
                            </td>
                            <td>63</td>
                            <td>75</td>
                            <td>225</td>
                        </tr>
                        <tr>
                            <td class="age">
                                {% trans "Minimes" %}
                                <span>{% trans "Nés entre 1995 et 1996" %}</span>
                            </td>
                            <td>63</td>
                            <td>75</td>
                            <td>225</td>
                        </tr>
                        <tr>
                            <td class="age">
                                {% trans "Cadets" %}
                                <span>{% trans "Nés entre 1993 et 1994" %}</span>
                            </td>
                            <td>63</td>
                            <td>75</td>
                            <td>225</td>
                        </tr>
                        <tr>
                            <td class="age">
                                {% trans "Juniors" %}
                                <span>{% trans "Nés entre 1990 et 1992" %}</span>
                            </td>
                            <td>63</td>
                            <td>75</td>
                            <td>225</td>
                        </tr>
                        <tr>
                            <td class="age">
                                {% trans "Séniors" %}
                                <span>{% trans "Nés avant 1989" %}</span>
                            </td>
                            <td>63</td>
                            <td>88</td>
                            <td>264</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="useful-links clearfix">
                <h3>{% trans "Liens utiles" %}</h3>
                <div class="link">
                    <img src="{% thumbnail 'icons/portal/microsoft-office-word.png' 64 64 %}" />
                    <p>
                        <a href="{{ MEDIA_URL }}downloads/lettre-reprise.doc">
                            {% trans "Reprise des cours" %}
                        </a>
                    </p>
                </div>
                <div class="link">
                    <img src="{% thumbnail 'icons/portal/microsoft-office-word.png' 64 64 %}" />
                    <p>
                        <a href="{{ MEDIA_URL }}downloads/fiche-renseignements.doc">
                            {% trans "Fiche de renseignements" %}
                        </a>
                    </p>
                </div>
                <div class="link">
                    <img src="{% thumbnail 'icons/portal/microsoft-office-excel.png' 64 64 %}" />
                    <p>
                        <a href="{{ MEDIA_URL }}downloads/tarifs.xls">
                            {% trans "Tarifs 2010-2011" %}
                        </a>
                    </p>
                </div>
            </section>
        </aside>
    </div>
{% endblock %}
